

<input type="text" id="Search" />
<button type="button" value="search" id="sbtn">Search</button>

<div id="SearchData"></div>

@section scripts{
    <script>
        $(function () {

            $("#sbtn").click(function () {

                var search = $("#Search").val();
                $("#SearchData").load("@Url.Action("SearchStudentAjax", "Test")",
                    {
                        Search:search

                    },
                     function () { alert("task done") }
                    
                    );

            });


        });
       
    </script>


}

<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>





