

<button class="btn"  value="Home">Home</button>
<div id="Home"></div>
@section scripts{
    <script>
        $(function () {

            $(".btn").click(function () {
               
                $("#Home").load("@Url.Action("SearchStudentAjax1", "Test")"
                    

                    );


            });
        });

    </script>


}
